.sidenav {
    height: 100%;
    width: 50px;
    margin-top: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #4a9e57 0% 0% no-repeat padding-box;
    padding-top: 20px;

    ul {
      padding: 0px 0 0 0;

      li {
        list-style-type: none;

        a {
        text-align: left;

        padding: 15px;
        background: #4a9e57;
        display: block;
        margin-bottom: 20px;
        img {
        width: 18px;
        }
        }
      }
    }
    svg{
        fill: #fff;
    }
}